{{/*
    author: CBIT
*/}}
<html>
<head>
    <title>查询合约</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div>
        <h3>Welcome {{.Username}}, indentity: {{.Role}} </h3>
        <a href="/home/logout">Logout</a>
</div>

<div class="common menu">
    <ul>
        <li><a href="/home/welcome"><img src="/static/img/SFI_logo.png" width="120px" height="50px"/></a></li>
        <li><a href="/query">查询信息</a></li>
{{if eq .Role "Jeweler"}}
        <li><a href="/modifyPage?Action=Apply">新建合约</a></li>
{{end}}
    </ul>
</div>

<div class="common main">
    <div class="formInfo" style="width: 50%">
        <form action="/query" method="post">
            Jeweler: <input type="text" name="jeweler" value="" /><br/><br/>
            Paper Number: <input type="text" name="paperNumber" value="" /><br/><br/>
            <input type="submit" value="提交"/>
        </form>
    </div>
    <div class="content">
        <h2>查询结果</h2>
        <div class="top">
                  <p>
                      <span>合约编号：</span>
                      <span>{{.Paper.PaperNumber}}</span>
                  </p>
                  <p>
                      <span>珠宝商：</span>
                      <span>{{.Paper.Jeweler}}</span>
                  </p>
                  <p>
                      <span>融资金额：</span>
                      <span>{{.Paper.FinancingAmount}}</span>
                  </p>
                  <p>
                      <span>创建时间：</span>
                      <span>{{.Paper.ApplyDateTime}}</span>
                  </p>
                  <p>
                      <span>银行：</span>
                      <span>{{.Paper.Bank}}</span>
                  </p>
                  <p>
                      <span>评估方：</span>
                      <span>{{.Paper.Evaluator}}</span>
                  </p>
                  <p>
                      <span>回购方：</span>
                      <span>{{.Paper.Repurchaser}}</span>
                  </p>
                  <p>
                      <span>监管方：</span>
                      <span>{{.Paper.Supervisor}}</span>
                  </p>
                  <p>
                      <span>修订时间：</span>
                      <span>{{.Paper.ReviseDateTime}}</span>
                  </p>
                  <p>
                      <span>接受时间：</span>
                      <span>{{.Paper.AcceptDateTime}}</span>
                  </p>
                  <p>
                      <span>回购就绪时间：</span>
                      <span>{{.Paper.ReadyDateTime}}</span>
                  </p>
                  <p>
                      <span>评估时间：</span>
                      <span>{{.Paper.EvalDateTime}}</span>
                  </p>
                  <p>
                      <span>接收时间：</span>
                      <span>{{.Paper.ReceiveDateTime}}</span>
                  </p>
                  <p>
                      <span>监管结束时间：</span>
                      <span>{{.Paper.EndDate}}</span>
                  </p>
                  <p>
                      <span>赎回时间：</span>
                      <span>{{.Paper.PaidbackDateTime}}</span>
                  </p>
                  <p>
                      <span>回购时间：</span>
                      <span>{{.Paper.RepurchaseDateTime}}</span>
                  </p>
        </div>
    </div>
    <div class="calink">
	    <!-- 判断paper状态和用户身份，来展示可操作的动作 -->
      	    <h2>可进行的操作</h2>
	    {{if eq .Paper.State 1}}
        	       {{if eq .Role "Bank"}}
	        <a href="/modifyPage?Action=Receive&paperNumber={{.Paper.PaperNumber}}&jeweler={{.Paper.Jeweler}}">接受</a>
	        <a href="/modifyPage?Action=Reject&paperNumber={{.Paper.PaperNumber}}&jeweler={{.Paper.Jeweler}}">拒绝</a>
          	       {{end}}
	    {{else if eq .Paper.State 2}}
       	      {{if eq .Role "Evaluator"}}
	        <a href="/modifyPage?Action=Evaluate&paperNumber={{.Paper.PaperNumber}}&jeweler={{.Paper.Jeweler}}">评估</a>
	        <a href="/modifyPage?Action=Reject&paperNumber={{.Paper.PaperNumber}}&jeweler={{.Paper.Jeweler}}">拒绝</a>
        	       {{end}}
	    {{end}}
	    <a href="/home/welcome">返回首页</a><br/>
    </div>
</div>

<div class="common footer">
    区块链智能科技中心出品：一个基于 Hyperledger Fabric-SDK-GO 的Web应用示例.
</div>
</body>
</html>