{{/*
    author: CBIT
*/}}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="common menu">
    <ul>
        <li><a href="/index.html"><img src="/static/img/SFI_logo.png" width="120px" height="50px"/></a></li>
        <li><a href="/query">查询信息</a></li>
        <li><a href="/queryReq">查询结果</a></li>
        <li><a href="/setInfo.html">设置/修改</a></li>
        <li><a href="/modifyPage?Action=Apply">新建合约</a></li>
    </ul>
</div>

<div class="common main">
    <div class="content">
        <h2>设置/修改</h2>
        <form action="/modify" method="post">
                  <p>
                      <span>当前进行的操作：</span>
                      <span>
                        <input type="text" readonly="true" style="color:grey;" name="Action" value="{{.Action}}"     >
                      </span>
                  </p>
                  <p>
                      <span>合约编号：</span>
                      <span>
                        <input type="text" {{if ne .Action "Apply"}} readonly="readonly" style="color:grey" {{end}} name="paperNumber" value="{{.Paper.PaperNumber}}"     >
                      </span>
                  </p>
                  <p>
                      <span>珠宝商：</span>
                      <span>
                        <input type="text" {{if ne .Action "Apply"}} readonly="readonly" style="color:grey" {{end}} name="jeweler" value="{{.Paper.Jeweler}}"     >
                      </span>
                  </p>
                  <p>
                      <span>融资金额：</span>
                      <span>
                        <input type="text" {{if ne .Action "Apply"}} readonly="readonly" style="color:grey" {{end}} name="financiingAmount" value="{{.Paper.FinancingAmount}}"    >
                      </span>
                  </p>
                  <p>
                      <span>创建时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Apply"}} readonly="readonly" style="color:grey" {{end}} name="applyDateTime" value="{{.Paper.ApplyDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>银行：</span>
                      <span>
                        <input type="text" {{if ne .Action "Receive"}} readonly="readonly" style="color:grey" {{end}} name="bank" value="{{.Paper.Bank}}"   >
                      </span>
                  </p>
                  <p>
                      <span>评估方：</span>
                      <span>
                        <input type="text" {{if ne .Action "Evaluate"}} readonly="readonly" style="color:grey" {{end}} name="evaluator" value="{{.Paper.Evaluator}}"   >
                      </span>
                  </p>
                  <p>
                      <span>回购方：</span>
                      <span>
                        <input type="text" {{if ne .Action "ReadyRepo"}} readonly="readonly" style="color:grey" {{end}} name="repurchaser" value="{{.Paper.Repurchaser}}"   >
                      </span>
                  </p>
                  <p>
                      <span>监管方：</span>
                      <span>
                        <input type="text" {{if ne .Action "Supervise"}} readonly="readonly" style="color:grey" {{end}} name="supervisor" value="{{.Paper.Supervisor}}"   >
                      </span>
                  </p>
                  <p>
                      <span>修订时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Revise"}} readonly="readonly" style="color:grey" {{end}}  name="reviseDateTime" value="{{.Paper.ReviseDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>接受时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Accept"}} readonly="readonly" style="color:grey" {{end}}  name="acceptDateTime" value="{{.Paper.AcceptDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>回购就绪时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "ReadyRepo"}} readonly="readonly" style="color:grey" {{end}}  name="readyDateTim" value="{{.Paper.ReadyDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>评估时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Evaluate"}} readonly="readonly" style="color:grey" {{end}}  name="evalDateTime" value="{{.Paper.EvalDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>接收时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Receive"}} readonly="readonly" style="color:grey" {{end}}  name="receiveDateTime" value="{{.Paper.ReceiveDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>监管结束时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Supervise"}} readonly="readonly" style="color:grey" {{end}} name="endDateTime" value="{{.Paper.EndDate}}"   >
                      </span>
                  </p>
                  <p>
                      <span>赎回时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Payback"}} readonly="readonly" style="color:grey" {{end}} name="paidBackDateTime" value="{{.Paper.PaidbackDateTime}}"   >
                      </span>
                  </p>
                  <p>
                      <span>回购时间：</span>
                      <span>
                        <input type="text" {{if ne .Action "Repurchase"}} readonly="readonly" style="color:grey" {{end}} name="RepurchaseDateTime" value="{{.Paper.RepurchaseDateTime}}"   >
                      </span>
                  </p>
        <input type="submit" value="提交"/>
        </form>
            </div>
        </div>
        <div class="calink">
            <a href="/index.html">返回首页</a><br/>
        </div>
    </div>
</div>

<div class="common footer">
    区块链智能科技中心出品：一个基于 Hyperledger Fabric-SDK-GO 的Web应用示例.
</div>

</body>
</html>
